@import "tailwindcss";

:root {
  --bg-main: #0b0d10;
  --bg-glass: rgba(255, 255, 255, 0.08);
  --border-glass: rgba(255, 255, 255, 0.18);

  --text-primary: #f5f7fa;
  --text-secondary: #a1a1aa;

  --accent: #7c7cff;
}

body {
  font-family: var(--font-main), sans-serif;
  letter-spacing: 0.01em;
}

h1,
h2,
h3 {
  letter-spacing: 0.02em;
}